// All Our Dependencies
@import "../libs/bootstrap/css/bootstrap.css";
@import "../libs/bootstrap-material-design/css/roboto.css";
@import "../libs/bootstrap-material-design/css/material-fullpalette.css";
@import "../libs/bootstrap-material-design/css/ripples.css";
//=== === ===
// Our SASS Files
@import "includes/varibles";
@import "includes/mixins";
@import "includes/stack";
// Some Styles...
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font: 14px/16px Arial, helvetica, sans-serif;
}
.btn.btn-info{margin:0;}
header{
	overflow:hidden;
	width:100%;
}
.navbar .navbar-nav > li > a{
	font-weight: 600;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus{color: #FFC125;}
.navbar .navbar-nav > li > a:hover{
	color: #FFC125;
	transition: color .5s;
}
.modal-header{margin-bottom:15px;}
.carousel-inner .item{
	width:100%;
	height:500px;
}
.carousel-inner .item img{
	width:100% !important;
	height:auto;
	display:block;
}
.carousel.slide{margin-bottom:20px;}
.reg-btn{text-align:center;}
.logo a{
	background: url(../img/logo.png) no-repeat 9px 3px;
	width:58px;
	height:60px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.navbar-default.navbar{
	border-radius:10px;
}