<div ng-controller='ProfileCtrl as pc'>
	<form class="form-horizontal" ng-submit="vm.updateUser()">
		<div class="row">
			<div class="col-xs-3">
				<figure class="hold-img"></figure>
				
					<fieldset>
						<div class="form-group text-center ">
				            <label for="inputFile" class="col-xs-12">Обновить фотографию</label>
				            <div class="col-xs-12">
				                <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
				                <input type="file" id="inputFile" multiple="" g-model="vm.user.image">
				            </div>
				        </div>
			        </fieldset>
				<!-- </form> -->
			</div>
			<div class="col-xs-9">
				<div class="hold-info">
					<!-- <form class="form-horizontal"> -->
					    <fieldset>
					        <legend>Личные данные</legend>
					        <div class="form-group">
					            <label for="inputName" class="col-xs-2 control-label">Имя</label>
					            <div class="col-xs-10">
					                <input type="text" class="form-control" id="inputName" placeholder="{{vm.userData.name}}" ng-model="vm.user.name">
					            </div>
					        </div>
					        <div class="form-group">
								<label for="inputLast" class="col-xs-2 control-label">Фамилия</label>
					            <div class="col-xs-10">
					                <input type="text" class="form-control" id="inputLast" placeholder="{{vm.userData.lastname}}" ng-model="vm.user.lastname">
					            </div>
					        </div>
					        <div class="form-group">
								<label for="inputMail" class="col-xs-2 control-label">Почта</label>
					            <div class="col-xs-10">
					                <input type="text" class="form-control" id="inputMail" placeholder="{{vm.userData.email}}" ng-model="vm.user.email">
					            </div>
					        </div>
					        <div class="form-group">
								<label for="inputHeight" class="col-xs-2 control-label">Рост</label>
					            <div class="col-xs-10">
					                <input type="text" class="form-control" id="inputHeight" placeholder="{{vm.userData.height}}" ng-model="vm.user.height">
					            </div>
					        </div>
					        <div class="form-group">
								<label for="inputWeight" class="col-xs-2 control-label">Вес</label>
					            <div class="col-xs-10">
					                <input type="text" class="form-control" id="inputWeight" placeholder="{{vm.userData.weight}}" ng-model="vm.user.weight">
					            </div>
					        </div>
					        <div class="form-group">
								<label for="inputBirth" class="col-xs-2 control-label">Возвраст</label>
					            <div class="col-xs-10">
					                <input type="text" class="form-control" id="inputBirth" placeholder="{{vm.userData.age}}" ng-model="vm.user.age">
					            </div>
					        </div>
					        <div class="form-group">
					            <div class="col-xs-12 text-center">
					                <button type="submit" class="btn btn-primary" >Update</button>
					                <button class="btn btn-default" >Cancel</button>
					            </div>
					        </div>
					    </fieldset>
					<!-- </form> -->
				</div>
			</div>
		</div>
	</form> 
</div>