<div class="row">
	<div class="col-xs-6">
		<h3>Мои упражнения</h3>
		<ul class="exers" ng-repeat="(key, value) in ex.exer">
			<li><strong class="title">{{value.title}}</strong></li>
			<li>{{value.descr}}</li>
			<li>
				<div class="video">
					<youtube-video video-url='value.link'></youtube-video>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-xs-6">
		<h3 class="">Добавить упражнение</h3>
		<form role="form">
			<div class="form-group label-floating is-empty">
				<label for="f-name" class="control-label">Название упражнения</label>
				<input type="text" class="form-control" id="f-name" ng-model="ex.exercises.title">
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="3" placeholder="Описание упражнения" id="textArea" ng-model="ex.exercises.descr"></textarea>
			</div>
			<div class="form-group label-floating is-empty">
				<label for="f-name" class="control-label">Ссылка на видео</label>
				<input type="text" class="form-control" id="link" ng-model="ex.exercises.link">
			</div>
			<button type="button" class="btn btn-info" ng-click="ex.addExercise()">Добавить</button>
		</form>
	</div>
</div>
