<div class="holder" ng-show="signedIn()">
	<div class="ex-box" ng-repeat="ex in mc.exer">
		<a href="" ng-click="mc.bool = true"><span>{{ex.data.title}}</span></a>
	</div>
</div>
<div ng-show="mc.bool" class="count">
	<a class="btn btn-raised btn-primary" ng-click="mc.addApproach()">Добавить</a>
	<div class="hold-form">
		<form name="countForm" ng-submit="mc.saveEquipmentApproach()">
			<label>Подход {{mc.approach}}</label>
			<label>Введите количество повторений</label>
			<input type="text" ng-model="mc.countApr" name="countApr" ng-repeat="c in mc.mass">
			<input type="submit" id="submit" value="Save" />
		</form>
	</div>
</div>
