<div class="row" ng-show="signIn">
	<div class="col-md-4">
		<div class="holder">
			<h1>Выберите упражнение</h1>
			<div class="ex-box" ng-repeat="(key, value) in mc.exersises" >
				<a href="" id="{{key}}" ng-click="mc.choiseExersise($event)" >{{value}}</a>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="hold-form">
			<div class="row">
				<form >
					<fieldset>
						<div class="wrap" ng-show="mc.isShow" >
							<div class="col-xs-6">
								<h2>Количество подходов</h2>
								<div class="form-group label-floating is-empty">
						            <label class="control-label">Подходы</label>
						            <input type="text" class="form-control" ng-model="mc.exItem.fit">
						        </div>
							</div>
							<div class="col-xs-6">
								<h2>Количество повторений</h2>
								<div class="form-group label-floating is-empty">
						            <label class="control-label">Повторения</label>
						            <input type="text" class="form-control" ng-model="mc.exItem.iteration">
						        </div>
							</div>
							<div class="col-xs-12">
								<a class="btn btn-info" ng-click="mc.saveResult()" >Сохранить</a>
							</div>
						</div>
						<div class="wrap" ng-show="mc.isRun" >
							<div class="col-xs-6">
								<h2>Дистанция</h2>
								<div class="form-group label-floating is-empty">
						            <label class="control-label">Дистанция в метрах</label>
						            <input type="text" class="form-control" ng-model="mc.exItem.distance">
						        </div>
							</div>
							<div class="col-xs-6">
								<h2>Время</h2>
								<div class="form-group label-floating is-empty">
						            <label class="control-label">Время</label>
						            <input type="text" class="form-control" ng-model="mc.exItem.time">
						        </div>
							</div>
							<div class="col-xs-12">
								<a class="btn btn-info" ng-click="mc.saveResult()" >Сохранить</a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			
		</div>
	</div>
</div>


